/* Ini File CSS */

.main-header {
  text-align: center;
}

main {
    display: flex
    ;
        justify-content: space-evenly;
}

.main-section {
    width: 40%;
}

footer {
    text-align: center;
}

form {
    background-color: #709fdc;
    padding: 18px;
    border-radius: 4px;
}
  
.label-gender{
    display: flex;
    padding-bottom: 12px;
}

.form-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 10px;
}

/* Styling Ikon di Dalam Input */
.input-container {
  position: relative;
  width: 100%;
}

.input-container input {
  width: 100%;
  /* Memberikan ruang untuk ikon */
  padding-left: 40px;
  padding-right: 10px;
  height: 40px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-indent: 10px;
}

.input-container .icon {
  position: absolute;
  /* Posisi pensil di sebelah kiri input */
  left: 5px;  
  top: 50%;
  /* Menyusun vertikal agar ikon di tengah */
  transform: translateY(-50%);  
  font-size: 18px;
  /* Warna ikon */
  color: #888;  
}

input[type=number] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.form-button-container {
    margin-top: 32px;
}

  button {
    border: 0;
    padding: 8px;
    border-radius: 2px;
  }

  .bg-071739 {
    background-color: #071739;
  }

  .bg-b9d5fd {
    background-color: #b9d5fd;
  }

  .color-whitesmoke {
    color:whitesmoke;
  }

  .box {
    background-color: #709fdc;
    padding: 18px;
    border-radius: 4px;
    justify-items: center;
  }

  .pbox {
    text-align: center;
  }
  